
#zoom-btn-rectangle {
    /* Rectangle 2 */
    /*position: absolute;*/
    width: 70px;
    height: 100px;
    /*right: -18px;*/
    /*top: calc(50% - 96px/2 - 41px);*/

    /* Белый */

    background: #FFFFFF;
    /* Тень */

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
}

.zoom-btn {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 0;
}

#zoom-in {
    top: 0;
}

#zoom-out {
    top: 50%;
}

#delimiter {
    position: absolute;
    width: 80px;
    /*height: 0;*/
    /*right: 0;*/
    top: calc(50% - 1px);
    border: 2px solid #AFAFAF;
}

#vector-minus {
    position: absolute;
    width: 20px;
    height: 3px;
    left: calc(50% - 10px);
    top: 50%;
    background: #272727;
}
#vector-plus-1 {
    position: absolute;
    width: 20px;
    height: 3px;
    left: calc(50% - 10px);
    top: 50%;
    background: #272727;
    transform: rotate(-90deg);
}
#vector-plus-2 {
    position: absolute;
    width: 20px;
    height: 3px;
    left: calc(50% - 10px);
    top: 50%;
    background: #272727;
}

#geo-btn {
    position: absolute;
    /*width: 20px;*/
    /*height: 3px;*/
    top: 0;
    left: -62px;
    /*background: #272727;*/
    /*filter: drop-shadow(6px 11px 20px rgba(0, 0, 0, 0.22));*/
    /*box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.25);*/
}
